/.idea/
/.vscode/
/.cache/
/bin/
/coverage/
/web/node_modules/
/web/dist/
/web/*.tsbuildinfo
/web/vite.config.js
/web/vite.config.d.ts
/internal/server/web/*
!/internal/server/web/.gitkeep
*.exe
*.log
*.tmp
